body{
    background-color: #282A36;
}

.content {
    margin: 0;
    padding: 20px;
}

.footer {
    color: #999999;
    text-align: center;
    padding: 10px 0;
    width: 100%;
}

.footer a {
    color: #999999;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 15px;
}

.course-logo {
    height: 30px;
    width: auto;
}

.author {
    color: #999999;
    font-size: 15px;
}

.img {
    width: 350px;
    height: 300px;
    object-fit: cover;
}

.image-container {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-content: normal;
    justify-content: center;
    align-items: center;
}